<br/><br/>
<div id="conteudo">
<table width="90%" border="1" align="center" class="login">
  <tr>
    <td colspan="2" align="center">
        <font size="4"><b>SISTEMA DE CONTROLE DE DEMANDA ESCOLAR <br/>DA SECRETARIA DE EDUCAÇÃO DE AMERICANA </b></font>

     </td>
  </tr>
    <hr/>
<!--  <tr>

      <td colspan="2" align="center"><br/>
             <font color="Blue" size="5"><b><u>INSCRIÇÃO PARA VAGAS <br/>CRECHE E ENSINO COMPLEMENTAR <%#=Time.now.year + 1%> </font></b></u><br/></p>
       <font size="3" ><b>Período: de 21/03/2022 (a partir das 8:00 h) até 24/03/2020 (até 17:00 h)<br/>

          Para fazer a inscrição  para Creche e Ensino COmplementar, clicar no botão abaixo. <b><u>Não é necessário possuir login e senha.</u></b></font></b><br/></p>
        <%= button_to('INSCRIÇÃO ON-LINE CRECHE', new_crianca_path, :method => "get", :title => "Inscrição CRECHE")%><br/>
        <%#= button_to('INSCRIÇÃO ON-LINE PRÉ-ESCOLA', pre_criancas_path, :method => "get", :title => "Inscrição PRÉ-ESCOLA")%>
       <%#= button_to('INSCRIÇÃO ON-LINE PRÉ-ESCOLA', new_pre_path, :method => "get", :title => "Inscrição PRÉ-ESCOLA")%>


     </td>

  </tr>
-->
  <tr>
     <td rowspan="3"> <center><font color="blue" size="4"><b>SISDEMAN</b></font><br/>
       
       </center><div id="img"></div></center>
     
     <td width="40%" align="center">
     <!--         <font color="Blue" size="3"><b><u>INSCRIÇÃO PARA VAGAS <br/>PRÉ ESCOLA <%#=Time.now.year + 1%> </font></b></u><br/></p>
       <font  ><b>Período: de 09/09/2020 (a partir das 8:00 h) até 25/09/2020 (até 17:00 h)<br/>

         <!--  Para fazer a inscrição  de pré escola, clique no botão abaixo. Não é necessário possuir login e senha.</font></b><br/></p>-->
        <%#= button_to('INSCRIÇÃO ON-LINE CRECHE', new_crianca_path, :method => "get", :title => "Inscrição CRECHE")%><br/>
        <%#= button_to('INSCRIÇÃO ON-LINE PRÉ-ESCOLA', pre_criancas_path, :method => "get", :title => "Inscrição PRÉ-ESCOLA")%>
       <%#= button_to('INSCRIÇÃO ON-LINE PRÉ-ESCOLA', new_pre_path, :method => "get", :title => "Inscrição PRÉ-ESCOLA")%>

<br/>
     </td>
   
</tr>
  <tr>
    <td colspan="3" align="center">
<font size="3"> <font color="BLUE"><b><u> Acesso somente para pessoas <BR/> autorizadas pela SEDUC</u></font></b><BR/><BR/>

<% form_tag session_path do -%>
            <p align="center"><b><label for="login">Login</label></b>
           &nbsp<%= text_field_tag 'login','',:size => 10 %><br/>
          <b><label for="password">Senha</label></b>
          <%= password_field_tag 'password','',:size => 10 %><br/><br/>

  <!--        <%= check_box_tag 'Memorizar' %>
          <font size="2"><b>Memorizar usuário</b></font><br/> !-->
          <%= submit_tag 'Entrar' %></p>
         <% end -%>
    
      <!-- < %= link_to 'Esqueci a Senha', new_password_path%>-->
     </td>
  </tr>
  <tr>
   <td colspan="3" align="center">
        <font size="2"><b>Problemas com a senha?</b></font><br/>
        <%= link_to 'Não possui senha', signup_path %>  <br/>
        <%#= link_to 'Esqueci a senha', new_password_path%>  
   </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <font size="3"> &nbsp&nbsp <b id="pisca1"> <font color ="red"> <u>ATENÇÃO:</u> </font></b>     Utilize<b> OBRIGATORIAMENTE </b>o navegador
      <a href="http://br.mozdev.org/" target="_blank"><img src="http://www.mozilla.org/contribute/buttons/110x32bubble_r_pt.png" alt="Firefox" width="110" height="32" style="border-style:none;" title="Mozilla Firefox" /></a>
       
      <!-- Fim do botao do Firefox -->
    </td>
  </tr>

 </table>
</div>
<br/>