<br/><br/>
<div id="conteudo">
<table width="90%" border="1" align="center" class="login">
  <tr>
    <td colspan="2" align="center">
        <font size="4"><b>SISTEMA DE CONTROLE DE DEMANDA ESCOLAR <br/>DA SECRETARIA DE EDUCAÇÃO DE AMERICANA </b></font>

     </td>
  </tr>
  <tr>
     <td rowspan="3"> <center><font color="blue" size="4"><b>SISDEMAN</b></font><br/>
       
       </center><div id="img"></div></center>
     </td>

</tr>
  <tr>
    <td colspan="3" align="center">
      <center><font color="blue" size="4"><b><u>CONTROLE DE ACESSO</u></b></font><br/><br/>
<font size="3"><b> Acesso somente para pessoas autorizadas pela SEDUC.</font><br/>
 <font size="1"><b> (É necessário possuir login e senha) </font></b>

<% form_tag session_path do -%>
            <p align="center"><b><label for="login">Login</label></b>
           &nbsp<%= text_field_tag 'login','',:size => 10 %><br/>
          <b><label for="password">Senha</label></b>
          <%= password_field_tag 'password','',:size => 10 %><br/><br/>

  <!--        <%= check_box_tag 'Memorizar' %>
          <font size="2"><b>Memorizar usuário</b></font><br/> !-->
          <%= submit_tag 'Entrar' %></p>
         <% end -%>
    
      <!-- < %= link_to 'Esqueci a Senha', new_password_path%>-->
     </td>
  </tr>
  <tr>
   <td colspan="3" align="center">
        <font size="2"><b>Problemas com a senha?</b></font><br/>
        <%= link_to 'Não possui senha', signup_path %>  <br/>
        <%#= link_to 'Esqueci a senha', new_password_path%>  
   </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <font size="3"> &nbsp&nbsp <b id="pisca1"> <font color ="red"> <u>ATENÇÃO:</u> </font></b>     Utilize<b> OBRIGATORIAMENTE </b>o navegador
      <a href="http://br.mozdev.org/" target="_blank"><img src="http://www.mozilla.org/contribute/buttons/110x32bubble_r_pt.png" alt="Firefox" width="110" height="32" style="border-style:none;" title="Mozilla Firefox" /></a>
       
      <!-- Fim do botao do Firefox -->
    </td>
  </tr>

 </table>
</div>
<br/>