  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
     
      <tr bgcolor="#FFFFFF"  ><td colspan="20"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp NA DEMANDA</b></td> </tr>
            <tr bgcolor="#DCDCDC" >
                <th width="1%">Nº </th>
                <th width="25%">Nome</th>
                <th width="8%">Nasc/o</th>
                 <th width="20%">Mãe</th>
                 <th width="5%">Região</th>
                 <th width="5%">Unidade</th>
                <th width="12%">Classe</th>
                <th width="15%">Status</th>

                <th colspan="2" width="5%"></th>
            </tr>
            <%$t=0%>
            <% @criancas.each do |crianca| %>
            <%$t = $t+1%>
            <tr bgcolor="#F5F5F5" style="font-size:12px">
                    <td align="center"><%=h crianca.id%> </td>
                    <td align="left"><%=h crianca.nome%></td>
                    <td align="center"><%=h crianca.nascimento.strftime("%d/%m/%Y")%></td>
                    <td align="left"><%=h crianca.mae%></td>
                    <td align="center"><%if !crianca.regiao_id.nil?%>
                                         <%=h crianca.regiao.nome%></td>
                                       <%end%>
                    <td align="center"><%if !crianca.unidade_ref.nil?%>
                                         <%=h crianca.unidade_ref%></td>
                                       <%end%>
                    <td align="center"><%if !crianca.grupo_id.nil?%>
                                         <%=h crianca.grupo.nome%></td>
                                       <%end%>
                    <td align="left">   <%=h crianca.status%></td>
                        <td align="left"><%#= button_to 'Fazer Inscrição',{:action => "edit_pre", :id =>crianca}, :method => "get", :title => "Inscrição pré-escola"%>
                           <%= button_to 'Inscrição (creche)',{:action => "show", :id =>crianca}, :method => "get", :title => "Inscrição pré-escola"%>
                        </td>
                        <td>
                          <%= button_to 'Inscrição Pré',{:action => "mat2pre_edit", :id =>crianca},  :title => "Inscrição pré-escola"%>
                        </td>
                    <%#end%>
                
              </tr>
              <% end %>
              <tr bgcolor="#F5F5F5" style="font-size:12px">
                <td colspan="10" ><font color="blue"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> Total NA DEMANDA = <%= $t%> inscrições </font></td>

              </tr>


     
     </table>


  </div>

