&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>INSCRIÇÃO PRE-ESCOLA</u></b><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>Demanda Escolar</u></b><br/>

&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="1"><b><u></u>       </b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%for crianca in @crianca%>
<font size="2"><font size="1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <strong>Inscrição nº<%=h crianca.id %> </strong></font><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size="1">Data Inscrição: <%=  crianca.created_at.strftime("%e/%m/%Y - %H:%M horas")%> </font><br/>
                 <%if crianca.transferencia == true%>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (Transferência)<br/>
                 <%end%>
                    <table  class ="invisible_to_print " width="100%">
   <tr  class ="invisible_to_print ">
     <td align="center" class ="invisible_to_print "><%= button_to "IMPRIMIR COMPROVANTE", onclick="javascript:window.print()", :title => "Imprimir" %></td>
   <td width="6%"align="left"><%= button_to 'Fechar', :action => "close"%>
  </tr>
 </table>
  <fieldset><legend><font  size=1><b> Dados da Criança  e Inscrição</b></font></legend>
       <table width="100%" frame="box" rules="all" >
            <tr style="font-size:8px">
               <th align="left" width="7%"><b>Nome:</b></th>
               <th  align="left"width="40%"><%=h crianca.nome %></th>
               <th align="left"width="4%"><b>Nascimento:</b></th>
               <th align="left" colspan="6">  <%=h crianca.nascimento.strftime("%d/%m/%Y")%></th>
            </tr>
            <tr style="font-size:8px">
               <th colspan="2"align="left" width="4%"><b>Necessidade Educacional Especial: </b>
                <% if crianca.servidor_publico == false %>
                      NÃO
                  <%else%>
                      SIM
                  <%end%>
               </th>
               <th><b>Necessidade:</b></th>
               <th><%=h crianca.necessidade%></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Mãe:</b></th>
               <th align="left"><%=h crianca.mae %></th>
               <th align="left" width="4%"><b>Pai:</b></th>
               <th colspan="6" align="left"><%=h crianca.pai %></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Responsável:</b></th>
               <th align="left"><%=h crianca.responsavel_n %></th>
               <th align="left" width="4%"><b>Parentesco</b></th>
               <th colspan="6" align="left"><%=h crianca.parentesco %></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Endereço:</b></th>
               <th align="left"><%=h crianca.endereco %> - <%=h crianca.numero %></th>
               <th align="left" width="4%"><b>Bairro:</b></th>
               <th colspan="6" align="left"><%=h crianca.bairro%></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Complemento:</b></th>
               <th align="left"><%=h crianca.complemento%></th>
               <th align="left"><b>Telefone:</b></th>
               <th align="left">  <%=h crianca.tel1%></th>
               <th align="left"  width="4%"><b>Celular:</b></th>
               <th><%=h crianca.celular%>  </th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Fone(recado):</b></th>
               <th align="left">  <%=h crianca.tel2%></th>
               <th><b>Nome(recado):</b></th>
               <th align="left" colspan="6"><%=h crianca.nomerecado%>  </th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Observações:</b></th>
               <th colspan="6" align="left">  <%=h crianca.obs %></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Classe:</b></th>
               <th colspan="6" align="left"><%=h crianca.grupo.nome %>  (<%=crianca.grupo.descricao%>) </th>
              
            </tr>

            <tr style="font-size:8px">
               <th align="left"><b>Trabalho Mãe: </b></th>
                <th align="left" colspan="5" ><%if crianca.servidor_publico == true%>
                                    SERVIDORA PÚBLICO (P1)<%=h crianca.servidor_local%>  <b> &nbsp - &nbsp Fone:</b> <%=h crianca.fone_trabalho%> (P1))
                                 <%else if crianca.trabalho == true %>
                                      CTPS ASSINADA (P2)<%=h crianca.local_trabalho%>, <%=h crianca.num_trab%>  - <%=h crianca.bairro_trab%> <b>&nbsp - &nbsp Fone:</b> <%=h crianca.fone_trabalho%> (P2))
                                       <%else if crianca.declaracao == true %>
                                              DECLARAÇÂO TRABALHO (P3)<%=h crianca.local_trabalho %>, <%=h crianca.num_trab%>  - <%=h crianca.bairro_trab%> <b> &nbsp - &nbsp Fone:</b> <%=h crianca.fone_trabalho%> (P3))
                                             <%else if crianca.autonomo == true %>
                                                   AUTÔNOMO (P4)<%=h crianca.atividade_autonomo%> - <%=h crianca.local_trabalho%>, <%=h crianca.num_trab%>  <b> &nbsp - &nbsp Fone:</b> <%=h crianca.fone_trabalho%> (P4))
                                                 <%else  %>
                                                    NÃO TRABALHA (P5)
                                                 <%end%>
                                             <%end%>
                                        <%end%>
                                 <%end%>
              </th>
            </tr>
            <% if crianca.irmao == true%>
                <tr style="font-size:8px">
                  <th align="left"><b>Irmão matriculado:</b></th>
                  <th align="left" colspan="6"valign="top"><font color="red"><b> Possui irmão matriculado na unidade: </b> <%=h crianca.unidade_i%> </font></th>

                </tr>
             <%else%>
               <tr style="font-size:8px">
                 <th align="left"><b>Irmão matriculado:</b></th>
                 <th align="left" colspan="5">Não</th>
                </tr>
             <%end%>
            <% if crianca.opcao2.nil?%>
                <tr style="font-size:8px">
                 <th align="left" colspan="6"><b>Estudou em outra escola particular ou escola pública de outros municípios:</b> &nbsp&nbsp NÃO </font></th>

                </tr>
             <%else%>
               <tr style="font-size:8px">
                 <th align="left" colspan="6"><b>Estudou em outra escola particular ou escola pública de outros municípios:</b> &nbsp&nbsp SIM - <%=h crianca.opcao3%> </font></th>                </tr>
             <%end%>
            <% if crianca.trabalho == false%>
                <tr style="font-size:8px">
                  <th align="left" colspan="6"><b>Mãe/responsável trabalha com CTPS assinada:</b> &nbsp&nbsp NÃO </font></th>

                </tr>
             <%else%>
               <tr style="font-size:8px">
                 <th align="left" colspan="6"><b>Mãe/responsável trabalha  com CTPS assinada:</b> &nbsp&nbsp SIM -
                       <%if !crianca.local_trabalho.nil?%>
                          <%=h crianca.local_trabalho%>,
                       <%end%>
                       <%if !crianca.num_trab.nil?%>
                           <%=h crianca.num_trab%>
                        <%end%>
                        <%if !crianca.bairro_trab.nil?%>
                          - <%=h crianca.bairro_trab%>
                          <%end%>
                        <%if !crianca.fone_trabalho.nil?%>
                                 <b>Fone:</b> <%=h crianca.fone_trabalho%>
                        <%end%>
                    </th>
               </tr>
             <%end%>
             <% if crianca.declaracao == false%>
                <tr style="font-size:8px">
                  <th align="left"colspan="6"><b>Mãe/responsável trabalha sem CTPS ou autônoma:</b> &nbsp&nbsp NÃO </font></th>

                </tr>
             <%else%>
               <tr style="font-size:8px">
                 <th align="left" colspan="6"><b>Mãe/responsável trabalha sem CTPS ou autônoma:</b> &nbsp&nbsp SIM -
                       <%if !crianca.local_trabalho.nil?%>
                          <%=h crianca.local_trabalho%>,
                       <%end%>
                       <%if !crianca.num_trab.nil?%>
                           <%=h crianca.num_trab%>
                        <%end%>
                        <%if !crianca.bairro_trab.nil?%>
                          - <%=h crianca.bairro_trab%>
                          <%end%>
                        <%if !crianca.fone_trabalho.nil?%>
                                 <b>Fone:</b> <%=h crianca.fone_trabalho%>
                        <%end%>
                    </th>
               </tr>
             <%end%>

              <tr style="font-size:8px">
                 <th align="left" align="left"  colspan="6"> <b>Dia/Hora Inscrição:</b>
                   <%=h crianca.created_at.strftime("%e/%m/%Y - %H:%M horas")%> <%if !crianca.unidade_id.nil?%> (<%=h crianca.unidade.nome%>) <%else%> (Internet (on-line) )<%end%>
                   <% if  crianca.recadastrada == 1%>
                        &nbsp&nbsp - <b>Recadastramento:<% if !crianca.data_rec.nil? %></b><%=h crianca.data_rec.strftime("%e/%m/%Y - %H:%M horas")%>( <%=h crianca.local_rec%>)<%end%>
                   <%end%>

                   &nbsp&nbsp - <b>Status:</b><%=h crianca.status%>

                                                - <% if  crianca.recadastrada == 0%>
                                                        <b>( NÃO RESCADASTRADA ) </b>
                                                    <%end%>

            </th>
           </tr>
           <tr style="font-size:8px">
              <th align="left" ><b>Local Inscrição:</b></th>
              <th align="left" ><% if !crianca.unidade_id.nil?%>  <%= crianca.unidade.nome%> <%else%> Internet   (on-line) <%end%></th>
              <th align="left"><b>Data  e Hora:</b> </th>
              <th colspan="4"align="left"><%=  crianca.created_at.strftime("%e/%m/%Y - %H:%M")%></th>
           </tr>
           <tr style="font-size:8px">
             <th align="left" valign="top" ><b>Comprovante Endereço::</b></th>
              <th  colspan="5"align="left" ><%= image_tag  crianca.photo.url(:imagem) %></th>
           </tr>


         </table>
       </fieldset>
       <fieldset><legend><font  size=1><b> AVISOS IMPORTANTES</b></font></legend>
         <table width="100%">
           <tr style="font-size:8px">
               <th align="left"colspan="2" >
                 1) Esta inscrição destina-se <b><u>somente</u></b> para crianças que encontram-se sem matrícula em <%=Time.now.year%>  ou que estejam
                 matriculadas em escola particular ou em escolas de outros municípios, mas residentes em Americana, para atendimento em turmas de
                 Pré-Escola em <%=(Time.now.year) +1%>.<br/>
               
                 2) Esta inscrição será <b><u>DESCONSIDERADA</u></b> caso a criança já esteja matriculada em 2020 no Maternal 2 de escolas da Rede Municipal
                 de Americana ou unidades conveniadas.<br/>

                 3) A inscrição também será <b><u>DESCONSIDERADA</u></b> caso a criança não esteja em idade de atendimento para a <b>Pré-Escola em <%=Time.now.year+1%></b>
                 ou o endereço não seja do município de Americana.<br/>

                 4) Considerando a demanda dos alunos em continuidade de estudos, já matriculados na Rede Pública de Americana, bem como nestas inscrições que forem efetivadas, será
                 realizado o estudo da demanda de<b> Pré-Escola</b> para <b><%=Time.now.year+1%></b> e as crianças serão direcionadas para atendimento, conforme a
                 disponibilidade de vagas de cada unidade de ensino. A criança será atendida preferencialmente em escola pública próxima ao endereço, obedecendo ao
                 estabelecido pelo Art. 4º, inciso X da Lei de Diretrizes e Bases da Educação Nacional (Lei nº 9394/1996). Salientamos, ainda, que não há garantia de atendimento
                 no período/turno assinalado, sendo possível o direcionamento para matrícula em período/turno diferente ao indicado, conforme disponibilidade de vagas das
                 unidades escolares.<br/>

                 5) Está prevista para o mês de dezembro de <%=Time.now.year%> a realização de contato com os responsáveis, por meio dos telefones informados na
                 inscrição, para divulgação da escola onde as crianças inscritas serão atendidas em <%=Time.now.year+1%>.<br/>

                 6) Todas as informações prestadas na inscrição deverão ser devidamente comprovadas com os respectivos documentos no ato da convocação para
                 matrícula. Informações não comprovadas PODERÃO implicar na alteração da escola para atendimento em <%=Time.now.year+1%>.<br/>

                7) Declaro estar ciente de que declaração falsa pode implicar na sanção penal prevista no art. 299
                do Código Penal, nos termos: <i>“Art. 299 – Omitir, em documento público ou particular, declaração
               que nele devia constar, ou nele inserir ou fazer inserir declaração falsa ou diversa da que
               devia ser escrita, com o fim de prejudicar direito, criar obrigação ou alterar a verdade sobre
               o fato juridicamente relevante.</i><br/>
               <u>Pena:</u> reclusão de 1 (um) a 5 (cinco) anos e multa, se o documento é público, reclusão de 1 (um) a 3 (três) anos, se o documento é particular.”



              </th>
             </tr>

        </table>
       </fieldset>

<%end%>
<br/>
<br/>
&nbsp&nbsp&nbsp

<font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b></font>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Assinatura do Responsável:______________________________________
<br/>
<br/>
<br/>
<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp






