<%session[:ficha_pre]=1%>
<div id="interno2">
<% title "CRIANCAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE INSCRIÇÃO PARA PRÉ-ESCOLA – 1ª Etapa e 2ª Etapa        <%   if !current_user.present? %> - INSCRIÇÃO ON-LINE    <%end%></strong></font><br/>
 </div>
      <div class="tabs">
      <%#= render :partial => 'form' %>


<div id="interno2">
<% title "CRIANCAS".singularize %>



  <div class="tabs">
<% form_for(@crianca) do |f| %>
 <%= f.error_messages %>
      <font size ="4" color="BLUE"><b id="pisca1">
          LEIA ATENTAMENTE:</b><b> A SECRETARIA MUNICIPAL DE EDUCAÇÃO NÃO PODERÁ SER RESPONSABILIZADA POR ERROS DE PREENCHIMENTO, BEM COMO EVENTUAIS FALHAS NO ENVIO DE DADOS OCASIONADOS POR PROBLEMAS DE CONEXÃO E/OU DEFEITOS EM EQUIPAMENTOS DE QUEM ESTÁ REALIZANDO A INSCRIÇÃO.</b><br/></font><br/>
          <font size ="3" color="RED">
                         <b><u>ATENÇÃO:</u> <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        1) Esta ficha destina-se à inscrição para atendimento na rede pública de Americana em turmas de  <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         Pré-Escola para <%=Time.now.year + 1%>,devendo ser preenchida somente para crianças que encontram-se <b><u>SEM</u></b> matrícula   <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                          no corrente ano ou estejam atualmente matriculadas em escola particular ou em escolas de outros<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         municípios.<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        2) <b><u>TODAS</u></b> as crianças atualmente  matriculadas no maternal 2 em escolas da Rede Municipal de <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         Americana ou unidades conveniadas da cidade <b><u>já estão</b></u> devidamente inscritas e <b>NÃO DEVEM </b>, nem <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         precisam, fazer sua inscrição, pois haverá direcionamento de matrículas para a Pré-Escola com base <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         em consulta realizada na escola em que a criança se encontra atualmente matriculada. <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                      3) Todas as informações prestadas na inscrição deverão ser devidamente comprovadas com os <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         respectivos documentos no ato da convocação para matrícula. Informações não comprovadas  <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         PODERÃO implicar na alteração da escola onde a criança será atendida em <%=Time.now.year + 1%>.<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                      4) Caso a criança não esteja em idade de atendimento para a Pré-Escola em <%=Time.now.year + 1%> ou o endereço <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         informado não seja da cidade de Americana, esta inscrição será <u>DESCONSIDERADA</u>.  <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                     </b>
            </font>
  <fieldset>
   <legend  bgcolor="#FFFFF"><font size=4>Dados da Criança</font></legend>
   <table width="100%">
       <font color ="red"  size="2"> Campos com <b><font size="5"> * </font></b> preenchimento obrigatório </font>
       <tr   bgcolor="#FFFFF">
         <td><b><font color="red" size="5">*</font>Nome </b></td>
         <td><%= f.text_field :nome, :size=>"38" %>
             <%= observe_field :crianca_nome,
               :with => :crianca_nome,
               :url => { :action => 'mesmo_nome_pre' } %>
          </td>
         <td><b><font size="5" color ="red"> * </font></b> <b><%= f.label :nascimento, 'Nascimento' %></b></td>
         <td>    <%= f.date_select(:nascimento, :order => [:day, :month, :year], :start_year => (Date.today.year-3), :end_year => (Date.today.year - 5)) %><BR /></td>
       </tr>

       <tr  bgcolor="#FFFFF">
         <td colspan="2"><b><font color="red" size="5">*</font>Mãe</b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <%= f.text_field :mae, :size=>"38"%>    <br/><font size="1" color="blue" > <b>   Preencher os dados dos genitores conforme registros na Certidão de Nascimento e/ou RG da criança.</b></font>
             <%= observe_field :crianca_mae,
               :with => :crianca_mae,
               :url => { :action => "mesma_mae_pre" } %>
         </td>
         <td  colspan="2">&nbsp&nbsp<b>Pai </b>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= f.text_field :pai, :size=>"38" %> <br/> <font size="1" color="blue" > <b>   Caso não conste o nome do pai no documento da criança, deixar o campo correspondente sem preenchimento.</b></font>
         </td>

       </tr>
       <tr  bgcolor="#FFFFF">
         <td></td>
         <td><b><div id='nome_aviso' ></div>  <div id='aviso_mae'></div></b></td>
         <td colspan="3"><b><div id='nome_mae'></div></b></td>

       </tr>
       <tr   bgcolor="#FFFFF">
           <td colspan="3"> <b>Responsável Legal pela criança?</b>
               &nbsp - &nbsp
                   <b>Nome</b>&nbsp <%= f.text_field :responsavel_n, :size => "34"%>&nbsp&nbsp
                   <br/><font size="1" color="blue" > <b> (Preencher somente caso nenhum dos genitores sejam os responsáveis legais)</b></font>
           </td>
           <td valign="top"> <b>Vínculo com a criança</b> <%= f.select :parentesco, GRAU1, :include_blank => ''%></td>
      </tr>

      <tr  bgcolor="#FFFFF">
         <td><b>Endereço  <font size="1"> (residencial)  </b></font></td>
         <td><%= f.text_field :endereco %> &nbsp&nbsp<b>Nº</b><%= f.text_field :numero, :size=>"2" %></td>
         <td>&nbsp&nbsp <b>Bairro</b></td>
         <td><%= f.text_field :bairro, :size=>"38" %></td>
       </tr>
       <tr  bgcolor="#FFFFF">
          <td><b>Complemento</b></td>
          <td><%= f.text_field :complemento, :size=>"38" %></td>
          <td><b><font color="red" size="5">*</font>Fone</b></td>
          <td><%= f.text_field :tel1,:size =>"13" %>&nbsp&nbsp
              <b>Celular</b>&nbsp&nbsp<%= f.text_field :celular,:size =>"14"%>
          </td>
       </tr>
       <tr  bgcolor="#FFFFF">
          <td><b>Fone(s) <font size="1"> (Recado) </font></b></td>
         <td><%= f.text_field :tel2, :size =>"36" %></td>
         <td>&nbsp&nbsp<b>Nome <font size="1"> (recado)</font></b></td>
         <td> <%= f.text_field :nomerecado, :size =>"38" %>  </td>
       </tr>
              <tr  bgcolor="#FFFFF">
                <td colspan="3"> <script>
                       $(document).ready(function()
                        {
                          $("#dropdownbutton12").click(function ()
                           {
                             $("#menu12").slideToggle("high");
                            });
                        });
                       </script>
                       <b>Criança possui Necessidade(s) Educacional(ais) Especial(ais)?</b>

                  <a href="#" id="dropdownbutton12"><%= f.radio_button :n_especial, true %></a>SIM
                                                    <%=  f.radio_button :n_especial, false, :checked => true  %>NÃO

                 </td>
                <td colspan="2">
                   <div id="menu12" style="display:none">
                     <b>Necessidade:</b><%= f.text_field :necessidade, :size =>"28" %>
                   </div>
                  </td>
              </tr>

      </table>
  </fieldset>

 <fieldset>
  <legend><font size="4">Dados da Inscrição</font></legend>
  <table width="100%">
      <!--<tr  bgcolor="#FFFFF">
          <td colspan="6"><font size ="2" color="BLUE"><b><u>ATENÇÃO:</u></b> Indicar um endereço do local onde a criança fica durante o dia, para fins de definir a unidade de matricula. É necessário indicar e justificar o vínculo da criança com este endereço (ex. casa dos avós,  ou casa onde reside, ou casa do cuidador, etc...).</font> </td>

      </tr>
       <tr  bgcolor="#FFFFF">
           <td colspan="6"><b>Endereço </b> <%= f.text_field :end_indicacao,  :size =>"45"%> &nbsp&nbsp&nbsp<b>Nº </b><%= f.text_field :num_indicacao, :size=>"1" %>&nbsp&nbsp
           <b>Bairro</b>&nbsp&nbsp  <%= f.text_field :bairro_indicacao, :size =>"35"%>


           </td>
       </tr>
       <tr bgcolor="#FFFFF">
           <td colspan="6"><b>Justificativa </b> <%= f.text_field :justif_indicacao,  :size =>"58"%> &nbsp&nbsp <b>Vínculo com a criança</b> <%= f.select :vinculo, REFERENCIA, :include_blank => ''%></td>
       </tr>-->
       <tr  bgcolor="#FFFFF">
          <td colspan="6"><font size ="2" color="red"><b><u>ATENÇÃO:</u></b>&nbsp&nbsp Após responder a perguntas abaixo SIM/NÃO aguarde a página atualizar para poder continuar.</font> </td>

       </tr>
              <tr  bgcolor="#FFFFF">
                 <td colspan="6"class="botao6">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>  Período desejado </b> &nbsp&nbsp <%= f.select :periodo , (PERIODO2).sort %>    </td>
              </tr>
             <tr  bgcolor="#FFFFF">
                   <td colspan="6"class="botao6"><b><%= f.select :irmao , (OPCAOSN).sort %>   &nbsp&nbsp  Possui irmão(s) matriculado(s) na rede de Educação Infantil da SEDUC?</b></td>
                    <%= observe_field 'crianca_irmao',
                                      :update => "irmao",
                                      :url    => { :action => 'irmao_action_pre' },
                                      :with   => 'crianca_irmao' %>
              <tr bgcolor="#FFFFF">
                   <td colspan="6"><div id="irmao"></div></td>
              </tr>

              </tr>
              <tr  bgcolor="#FFFFF">
                   <td colspan="6"class="botao6"><b><%= f.select :opcao2 , (OPCAOSN).sort %>   &nbsp&nbsp A criança estudou anteriormente em escola particular ou escola pública de outros municípios?</b> <br/></td>
                      <%= observe_field 'crianca_opcao2',
                                      :update => "estudo",
                                      :url    => { :action => 'estudo_action_pre' },
                                      :with   => 'crianca_opcao2' %>
             </tr>
              <tr bgcolor="#FFFFF">
                   <td colspan="6"><div id="estudo"></div></td>
              </tr>
              <tr bgcolor="#FFFFF">
                <td colspan="6"><%= f.select :trabalho, (OPCAOSN).sort %>   &nbsp&nbsp  <b> Mãe/responsável legal trabalha COM registro em carteira de trabalho (CTPS)? &nbsp </b> .<font/></td>
                                   <%= observe_field 'crianca_trabalho',
                                      :update => "trabalho",
                                      :url    => { :action => 'trabalho_action_pre' },
                                      :with   => 'crianca_trabalho' %>

                
              </tr>
              <tr bgcolor="#FFFFF">
                   <td colspan="6"><div id="trabalho"></div></td>
             </tr>
             <tr bgcolor="#FFFFF">
                <td colspan="6"> <%= f.select :declaracao, (OPCAOSN).sort %>    &nbsp&nbsp <b> Mãe/responsável legal trabalha SEM registro em carteira de trabalho (CTPS) e/ou é profissional autônoma?</b> </td>
                                   <%= observe_field 'crianca_declaracao',
                                      :update => "declaracao",
                                      :url    => { :action => 'declaracao_action_pre' },
                                      :with   => 'crianca_declaracao' %>
                        </tr>
                       <tr bgcolor="#FFFFF">
                           <td colspan="6"><div id="declaracao"> </div></td>
                       </tr>


     <tr>
         
          <td colspan="4"> <b> Observações: <%= f.text_field :obs,  :size =>"115"%>  &nbsp&nbsp <font size="1" color="blue" ><br/> <b>   Se necessário, registrar Informações que julgar relevantes para o direcionamento e atendimento desta inscrição. </b></font><br/>
            <div id="dados"> <%= render :partial => 'observacoes'  %></div></td>
        </tr>

     </table>

  </fieldset>
   <fieldset>
  <legend><font size=4>IMPORTANTE</font></legend>
    <table width="100%">
      <tr>
        <td colspan="2" ><font size ="3" color=""> &nbsp&nbsp&nbsp&nbsp
              1) Com base nessas indicações será realizado o estudo da demanda e os alunos serão
              direcionados, conforme a disponibilidade de vagas de cada unidade de ensino. O  aluno
              será atendido preferencialmente em escola pública próxima ao endereço, obedecendo ao
              estabelecido pelo Art. 4º, inciso X da Lei de Diretrizes e Bases da Educação Nacional
              (Lei nº 9394/1996). . Salientamos, ainda, que a indicação da preferência do período/turno
              não é garantia de atendimento no período/turno assinalado, sendo possível o direcionamento
              para matrícula em período/turno diferente ao indicado, conforme disponibilidade de vagas das
              unidades escolares.  <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

             2) Declaro estar ciente de que declaração falsa pode implicar na sanção penal prevista no art. 299
             do Código Penal, in verbis: <i>“Art. 299 – Omitir, em documento público ou particular, declaração
               que nele deveria constar, ou nele inserir ou fazer inserir declaração falsa ou diversa da que
               devia ser escrita, com o fim de prejudicar direito, criar obrigação ou alterar a verdade sobre
               o fato juridicamente relevante.</i><br/>
               <u>Pena:</u> reclusão de 1 (um) a 5 (cinco) anos e multa, se o documento é público, reclusão de 1 (um) a 3 (três) anos, se o documento é particular.”
        </td>
      </tr>


     <tr>
         <td width="2%" valign="top"><b class="botao1" style="display:none">&nbsp&nbsp&nbsp&nbsp<font color ="blue"><b><u><%= link_to image_tag("/stylesheets/images/Vagas.png", :size => "100x26"), "#inline_form_vaga", :class =>"inline" %></u></b></font></td>
         <td><div id="dados_vaga"> <%= render :partial => 'vagas'  %></div></td>
        </tr>
     </table>

  </fieldset>

 <br/>
   <script>
       $(document).ready(function()
         {
            $("#dropdownbutton5").click(function ()
               {
                  $("#menu5").slideToggle("high");
               });
         });
   </script>

 <br/>



      <fieldset>
          <table width="100%" >

         <tr>
           <td width="4%"align="left"><b><div id='Certeza'> <%= f.submit 'Salvar' %></div></b></td>


<%end%>
            <td width="6%"align="left" ><%= button_to 'Consultar' ,consultas_criancas_path, :title => "Consultar" %></td>
            <td width="6%"align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %>
            <td><font color="GREEN"> <div id="matricula"></div> </font></td></td>

    <%session[:show]=0%>
    <%session[:show_recadastramento]=1%>
    <%session[:ficha_pre]=1%>

         </tr>
       </table>
      </fieldset>

  </font>

</div>
<br/>
</div>













    </div>
    <%session[:show]=1%>
    <%session[:show_recadastramento]=0%>
</div>
<br/>
</div>

    <%= render "form_observacao" %>
    <%= render "form_vaga" %>