
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>DEMANDA ESCOLAR</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="1"><b><u></u> DEMANDA GERAL      </b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp

 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
 <fieldset>
   <legend><font size=2><b>DEMANDA POR REGIÃO</b></font></legend>
       <table frame="box" rules="all" width = "70%" align="center">
          <tr style="font-size:6px"  bgcolor="#DCDCDC">
            <th width="33%">
              <table frame="box" rules="all" width = "100%" align="center">
                    <tr style="font-size:6px"  bgcolor="#DCDCDC">
                        <th width="15%">Região</th>
                        <th width="6%">Total</th>
                    </tr>
               </table>
            </th>
            <th  width="33%">
                  <table frame="box" rules="all" width = "100%" align="center">
                    <tr style="font-size:6px" bgcolor="#DCDCDC">
                        <th width="1%" ></th>
                        <th width="15%">Região</th>
                        <th width="5%">Total</th>
                    </tr>
               </table>
            </th>
            <th   width="33%">
              <table frame="box" rules="all" width = "100%" align="center">
                    <tr style="font-size:6px"  bgcolor="#DCDCDC">
                        <th width="1%"></th>
                        <th width="15%">Região</th>
                         <th width="5%">Total</th>
                    </tr>
                 </table>
            </th>
         </tr>
         <tr>
            <% totalregiao0 = 0%>
             <% totalregiao1 = 0 %>
             <% totalregiao = 0%>

             <th valign="top">
                 <table frame="box" rules="all" width = "100%" align="center">
                    <% for reg1 in @regiaos1 %>
                       <tr style="font-size:6px">
                           <th  width="70%"><b><%= reg1.nome %></b></th>
                           <th  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 and regiao_id = ? and transferencia != 1",reg1]).count %></th>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>
 
                 </table>
             </th>
             <th valign="top">
                 <table frame="box" rules="all" width = "100%" align="center">
                     <% for reg2 in @regiaos2 %>
                      <tr style="font-size:6px">
                           <th width="5%" ></th>
                            <th  width="69%"><b><%= reg2.nome %></b></th>
                            <th  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 and regiao_id = ? and transferencia != 1",reg2]).count %></th>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>

                 </table>
             </th>
             <th valign="top">
                 <table frame="box" rules="all" width = "100%" align="center">
                     <% for reg3 in @regiaos3 %>
                       <tr style="font-size:6px">
                         <th width="5%" ></th>
                         <th  width="69%"><b><%= reg3.nome %></b></th>
                           <th  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 and regiao_id = ? and transferencia != 1",reg3]).count %></th>
                                                            <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>
                      <tr style="font-size:6px"></tr>
                       <tr style="font-size:6px">
                          <th align="left">
                     
                                    <th align="right" width="70%"><b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp&nbsp</b></th>
                                    <th align="center" width="25%"><font color ="red"><b><%=totalregiao %></b></font></th>
                     
                          </th>
                      </tr>
                 </table>
             </th>

         </tr>


       </table>

  </fieldset>

   <fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend>
      <table frame="box" rules="all" width = "100%" align="center">
        <tr style="font-size:6px">
            <th colspan="20"><b>S.M.</b> = Servidor Municipal &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>CTPS</b> = Com Registro na Carteira Profissional &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>Ñ.CTPS</b> = SEM Registro na Carteira Profissional
                             <br/>
                             <b>AUTO</b> = Autônomo &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>Ñ.TRA</b> = Não trabalha&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>TRAN</b> = Transferência entre unidades SEDUC
            </th>
        </tr>
       <tr style="font-size:6px" >
           <th valign="top" width ="29%">
            <table frame="box" rules="all" width = "100%" align="center">
                <% session[:tgpre]=0%>
                <% @regiaos11.each do |regiao| %>
                    <% session[:b1]=0%>
                    <% session[:b2]=0%>

                    <tr style="font-size:6px" >
                        <th  width="45%" align="left"><%=h regiao.nome%> </th>
                        <th  width="5%" align="center">S.M.</th>
                        <th  width="5%" align="center">CTPS</th>
                        <th  width="5%" align="center">Ñ.CTPS</th>
                        <th  width="5%" align="center">AUTO</th>
                        <th  width="5%" align="center">Ñ.TRA</th>
                        <th  width="5%" align="center"><font color="blue">Total</th>
                        <th  width="5%" align="center">TRAN</th>
                    </tr>
                    <tr style="font-size:6px" >
                        <th align="left"> Berçario I</th>
                        <th  width="5%" align="center"><%=session[:b1sv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada!=0 AND servidor_publico= 1 AND grupo_id= 1  and transferencia != 1", regiao]).size%><% session[:TTGb1sv] = session[:TTGb1sv] + session[:b1sv]%> </th>
                        <th  width="5%" align="center"><%=session[:b1ctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND trabalho= 1 AND regiao_id=? AND grupo_id= 1 and transferencia != 1", regiao]).size%><% session[:TTGb1ctps] = session[:TTGb1ctps] + session[:b1ctps]%></th>
                        <th  width="5%" align="center"><%=session[:b1sctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND declaracao= 1  AND regiao_id=? AND grupo_id= 1 and transferencia != 1", regiao]).size%><% session[:TTGb1sctps] = session[:TTGb1sctps] + session[:b1sctps]%> </th>
                        <th  width="5%" align="center"><%=session[:b1auto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND autonomo= 1 AND regiao_id=? AND grupo_id= 1 and transferencia != 1", regiao]).size%><% session[:TTGb1auto]  = session[:TTGb1auto] + session[:b1auto]%></th>
                        <th  width="5%" align="center"><%=session[:b1ntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 1 and transferencia != 1", regiao]).size%><% session[:TTGb1ntrab] = session[:TTGb1ntrab] + session[:b1ntrab]%></th>
                        <th width="10%" align="center"><font color="blue"><%= session[:b1] =  session[:b1sv] + session[:b1ctps] + session[:b1sctps] + session[:b1auto] +session[:b1ntrab] %> <% session[:TTGb1total] = session[:TTGb1total] + session[:b1]%></th>
                        <th  width="5%" align="center"><%=session[:b1trans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND transferencia= 1 AND regiao_id=? AND grupo_id= 1", regiao]).size%><% session[:TTGb1trans] = session[:TTGb1trans] + session[:b1trans]%></th>
                    </tr>
                    <tr style="font-size:6px" >
                        <th align="left"> Berçario II</th>
                        <th  width="5%" align="center"><%=session[:b2sv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada!=0 AND servidor_publico= 1 AND grupo_id= 2 and transferencia != 1", regiao]).size%><% session[:TTGb2sv] = session[:TTGb2sv] + session[:b2sv]%> </th>
                        <th  width="5%" align="center"><%=session[:b2ctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND trabalho= 1 AND regiao_id=? AND grupo_id= 2 and transferencia != 1", regiao]).size%><% session[:TTGb2ctps] = session[:TTGb2ctps] + session[:b2ctps]%></th>
                        <th  width="5%" align="center"><%=session[:b2sctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND declaracao= 1  AND regiao_id=? AND grupo_id= 2 and transferencia != 1", regiao]).size%><% session[:TTGb2sctps] = session[:TTGb2sctps] + session[:b2sctps]%> </th>
                        <th  width="5%" align="center"><%=session[:b2auto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND autonomo= 1 AND regiao_id=? AND grupo_id= 2 and transferencia != 1", regiao]).size%><% session[:TTGb2auto]  = session[:TTGb2auto] + session[:b2auto]%></th>
                        <th  width="5%" align="center"><%=session[:b2ntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 2 and transferencia != 1", regiao]).size%><% session[:TTGb2ntrab] = session[:TTGb2ntrab] + session[:b2ntrab]%></th>
                        <th width="10%" align="center"><font color="blue" ><%= session[:b2] =   session[:b2sv] + session[:b2ctps] + session[:b2sctps] + session[:b2auto] +session[:b2ntrab] %> <% session[:TTGb2total] = session[:TTGb2total] + session[:b2]%></th>
                        <th  width="5%" align="center"><%=session[:b2trans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND transferencia= 1 AND regiao_id=? AND grupo_id= 2  AND ( (autonomo= 0 or autonomo= 1) AND (declaracao= 0 or declaracao= 1) AND (trabalho= 0 or trabalho= 1) AND (servidor_publico= 0 or servidor_publico= 0))", regiao]).size%><% session[:TTGb2trans] = session[:TTGb2trans] + session[:b2trans]%></th>
                    </tr>
                    <tr style="font-size:6px" >

                        <th align="left"> Pré Escola </th>
                        <th  width="5%" align="center"><%=session[:presv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada!=0 AND servidor_publico= 1 AND (grupo_id= 6 or grupo_id= 7) and transferencia != 1", regiao]).size%><% session[:TTGpresv] = session[:TTGpresv] + session[:presv]%></th>
                        <th  width="5%" align="center"><%=session[:prectps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND trabalho= 1 AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7) and transferencia != 1", regiao]).size%><% session[:TTGprectps] = session[:TTGprectps]+session[:prectps]%></th>
                        <th  width="5%" align="center"><%=session[:presctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND declaracao= 1  AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7) and transferencia != 1", regiao]).size%></th>
                        <th  width="5%" align="center"><%=session[:preauto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND autonomo= 1 AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7) and transferencia != 1", regiao]).size%></th>
                        <th  width="5%" align="center"><%=session[:prentrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7) and transferencia != 1", regiao]).size%></th>
                        <th width="10%" align="center"><font color="blue" ><%=  session[:pre]=  session[:presv] + session[:prectps] + session[:presctps] + session[:preauto] +session[:prentrab]%></th>
                        <th  width="5%" align="center"><%=session[:pretrans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND transferencia= 1 AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>

                    </tr>

                   <tr style="font-size:6px" bgcolor="#C6CCCC">
                        <th align="right">Sub-Total </th>
                        <th width="2%" align="center"><font color="blue"><%=session[:b1sv]+session[:b2sv]+session[:presv]%> </font><% session[:TTGsb1sv] = session[:TTGsb1sv] + (session[:b1sv]+session[:b2sv]+session[:presv])%></th>
                        <th width="2%" align="center"> <font color="blue"><%= session[:b1ctps]+session[:b2ctps]+session[:prectps]%>  </font><% session[:TTGsb1ctps]= session[:TTGsb1ctps] +(session[:b1ctps]+session[:b2ctps]+session[:prectps])%></th>
                        <th width="2%" align="center"> <font color="blue"><%= session[:b1sctps]+session[:b2sctps]+session[:presctps]%></font><% session[:TTGsb1sctps]= session[:TTGsb1sctps] +(session[:b1sctps]+session[:b2sctps]+session[:presctps]) %></th>
                        <th width="2%" align="center"><font color="blue"> <%= session[:b1auto]+session[:b2auto]+session[:preauto]%> </font><% session[:TTGsb1auto]= session[:TTGsb1auto] + (session[:b1auto]+session[:b2auto]+session[:preauto]) %></th>
                        <th width="2%" align="center"><font color="blue"> <%= session[:b1ntrab]+session[:b2ntrab]+session[:prentrab]%>  </font> <% session[:TTGsb1ntrab]= session[:TTGsb1ntrab]+ (session[:b1ntrab]+session[:b2ntrab]+session[:prentrab]) %></th>
                        <th width="2%"><font color="red"> <%= session[:b1]+session[:b2]+session[:pre]%> </font><% session[:TTGsb1total]= session[:TTGsb1total] + (session[:b1]+session[:b2]+session[:pre])  %></th>
                        <th width="2%" align="center"> <%= session[:b1trans]+session[:b2trans]+session[:pretrans]%></font><% session[:TTGsb1trans]= session[:TTGsb1trans] + (session[:b1trans]+session[:b2trans]+session[:pretrans])%> </th>
                   
                 </tr>
                 <tr>
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp </th>
                   <th width="2%">                   </th>
                 </tr>
                <%end%>
            </table>
          </th>
           <th valign="top" width ="29%">
            <table frame="box" rules="all" width = "100%" align="center">
                <% @regiaos11.each do |regiao| %>
                <% session[:m1a]=0%>
                <% session[:m1b]=0%>
                <% session[:m2]=0%>
                <% session[:n1n2]=0 %>
                 <tr style="font-size:6px" >
                    <th  width="30%"  align="left"><%=h regiao.nome%> </th>
                    <th  width="5%" align="center">S.M.</th>
                    <th  width="5%" align="center">CTPS</th>
                    <th  width="5%" align="center">Ñ.CTPS</th>
                    <th  width="5%" align="center">AUTO</th>
                    <th  width="5%" align="center">Ñ.TRA</th>
                     <th  width="5%" align="center"><font color="blue">Total</th>
                    <th  width="5%" align="center">TRAN</th>

                 </tr>
                 <tr style="font-size:6px" >
                   <th width="20%" align="left"> Maternal I-A</th>
                                  <th  width="5%" align="center"><%=session[:m1asv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada!=0 AND servidor_publico= 1 AND grupo_id= 4 and transferencia != 1", regiao]).size%><% session[:TTGm1asv]=session[:TTGm1asv]+session[:m1asv]%></th>
                                  <th  width="5%" align="center"><%=session[:m1actps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND trabalho= 1 AND regiao_id=? AND grupo_id= 4 and transferencia != 1", regiao]).size%><% session[:TTGm1actps]=session[:TTGm1actps]+session[:m1actps]%></th>
                                  <th  width="5%" align="center"><%=session[:m1asctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND declaracao= 1  AND regiao_id=? AND grupo_id= 4 and transferencia != 1", regiao]).size%><% session[:TTGm1asctps]= session[:TTGm1asctps] + session[:m1asctps]%></th>
                                  <th  width="5%" align="center"><%=session[:m1aauto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND autonomo= 1 AND regiao_id=? AND grupo_id= 4 and transferencia != 1", regiao]).size%><% session[:TTGm1aauto]=session[:TTGm1aauto]+session[:m1aauto] %></th>
                                  <th  width="5%" align="center"><%=session[:m1antrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 4 and transferencia != 1", regiao]).size%><% session[:TTGm1antrab]=session[:TTGm1antrab]+session[:m1antrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><%= session[:m1a] = session[:m1asv] + session[:m1actps] + session[:m1asctps] + session[:m1aauto] +session[:m1antrab] %><% session[:TTGm1atotal]= session[:TTGm1atotal] +  session[:m1a]%> </th>
                                  <th  width="5%" align="center"><%=session[:m1atrans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND transferencia= 1 AND regiao_id=? AND grupo_id= 4", regiao]).size%><% session[:TTGm1atrans]=session[:TTGm1atrans] + session[:m1atrans]%></th>

                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left">Maternal I-B</th>
                                  <th  width="5%" align="center">   <%=session[:m1bsv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada!=0 AND servidor_publico= 1 AND grupo_id= 8 and transferencia != 1", regiao]).size%><% session[:TTGm1bsv]=session[:TTGm1bsv]+session[:m1bsv]%></th>
                                  <th  width="5%" align="center"> <%=session[:m1bctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND trabalho= 1 AND regiao_id=? AND grupo_id= 8 and transferencia != 1", regiao]).size%><% session[:TTGm1bctps]=session[:TTGm1bctps]+session[:m1bctps]%></th>
                                  <th  width="5%" align="center"><%=session[:m1bsctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND declaracao= 1  AND regiao_id=? AND grupo_id= 8 and transferencia != 1", regiao]).size%><% session[:TTGm1bsctps]= session[:TTGm1bsctps] + session[:m1bsctps]%></th>
                                  <th  width="5%" align="center"> <%=session[:m1bauto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND autonomo= 1 AND regiao_id=? AND grupo_id= 8 and transferencia != 1", regiao]).size%><% session[:TTGm1bauto]=session[:TTGm1bauto]+session[:m1bauto] %></th>
                                  <th  width="5%" align="center"><%=session[:m1bntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 8 and transferencia != 1", regiao]).size%><% session[:TTGm1bntrab]=session[:TTGm1bntrab]+session[:m1bntrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><%= session[:m1b] = session[:m1bsv] + session[:m1bctps] + session[:m1bsctps] + session[:m1bauto] +session[:m1bntrab] %><% session[:TTGm1btotal]= session[:TTGm1btotal] +  session[:m1b]%> </th>
                                  <th  width="5%" align="center"><%=session[:m1btrans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND transferencia= 1 AND regiao_id=? AND grupo_id= 8", regiao]).size%><% session[:TTGm1btrans]=session[:TTGm1btrans] + session[:m1btrans]%></th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Maternal II</th>
                                  <th  width="5%" align="center">   <%=session[:m2sv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada!=0 AND servidor_publico= 1 AND grupo_id= 5 and transferencia != 1", regiao]).size%><% session[:TTGm2sv]=session[:TTGm2sv]+session[:m2sv]%></th>
                                  <th  width="5%" align="center"> <%=session[:m2ctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND trabalho= 1 AND regiao_id=? AND grupo_id= 5 and transferencia != 1", regiao]).size%><% session[:TTGm2ctps]=session[:TTGm2ctps]+session[:m2ctps]%></th>
                                  <th  width="5%" align="center"><%=session[:m2sctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND declaracao= 1  AND regiao_id=? AND grupo_id= 5 and transferencia != 1", regiao]).size%><% session[:TTGm2sctps]= session[:TTGm2sctps] + session[:m2sctps]%></th>
                                  <th  width="5%" align="center"> <%=session[:m2auto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND autonomo= 1 AND regiao_id=? AND grupo_id= 5 and transferencia != 1", regiao]).size%><% session[:TTGm2auto]=session[:TTGm2auto]+session[:m2auto] %></th>
                                  <th  width="5%" align="center"><%=session[:m2ntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 5 and transferencia != 1", regiao]).size%><% session[:TTGm2ntrab]=session[:TTGm2ntrab]+session[:m2ntrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><font color="blue"><%= session[:m2] = session[:m2sv] + session[:m2ctps] + session[:m2sctps] + session[:m2auto] +session[:m2ntrab] %><% session[:TTGm2total]= session[:TTGm2total] +  session[:m2]%> </th>
                                  <th  width="5%" align="center"><%=session[:m2trans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0 AND transferencia= 1 AND regiao_id=? AND grupo_id= 5", regiao]).size%><% session[:TTGm2trans]=session[:TTGm2trans] + session[:m2trans]%></th>

                 </tr>
                 <tr style="font-size:6px"  bgcolor="#C6CCCC">
                   <th align="right">Sub-Total</th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1asv] + session[:m1bsv]+ session[:m2sv]%></font> <% session[:TTGsb2sv] = session[:TTGsb2sv] + (session[:m1asv] + session[:m1bsv]+ session[:m2sv])%></th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1actps] + session[:m1bctps]+ session[:m2ctps]%></font><% session[:TTGsb2ctps]= session[:TTGsb2ctps] +(session[:m1actps] + session[:m1bctps]+ session[:m2ctps])%></th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1asctps] + session[:m1bsctps]+ session[:m2sctps]%></font> <% session[:TTGsb2sctps]= session[:TTGsb2sctps] +(session[:m1asctps] + session[:m1bsctps]+ session[:m2sctps]) %></th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1aauto] + session[:m1bauto]+ session[:m2auto]%></font> <% session[:TTGsb2auto]= session[:TTGsb2auto] + (session[:m1aauto] + session[:m1bauto]+ session[:m2auto]) %></th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1antrab] + session[:m1bntrab]+ session[:m2ntrab]%></font><% session[:TTGsb2ntrab]= session[:TTGsb2ntrab]+ (session[:m1antrab] + session[:m1bntrab]+ session[:m2ntrab]) %></th>
                   <th width="10%" align="center"><font color="red"> <%= session[:m1a] + session[:m1b]+ session[:m2]%></font><% session[:TTGsb2total]= session[:TTGsb2total] + (session[:m1a] + session[:m1b]+ session[:m2])  %> </th>
                   <th width="10%" align="center"> <%= session[:m1atrans] + session[:m1btrans]+ session[:m2trans]%></font> <% session[:TTGsb2trans]= session[:TTGsb2trans] + (session[:m1atrans] + session[:m1btrans]+ session[:m2trans])%> </th>
                 </tr>

                 <tr style="font-size:6px" >
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp </th>
                   <th width="10%"> </th>

                 </tr>
                <%end%>
            </table>
          </th>
        </tr>
       <tr style="font-size:6px" >
         <td colspan="20"> <hr/></td>
      </tr>
      </table>
      <table bgcolor="#DCDCDC" width="100%"align="center">
       <tr style="font-size:6px" >
            <td colspan="20"><b>S.M.</b> = Servidor Municipal &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>CTPS</b> = Com Registro na Carteira Profissional &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>Ñ.CTPS</b> = SEM Registro na Carteira Profissional
                             <br/>
                             <b>AUTO</b> = Autônomo &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>Ñ.TRA</b> = Não trabalha&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>TRAN</b> = Transferência entre unidades SEDUC
            </td>
        </tr>
        <tr>
           <td valign="top" width ="29%">
            <table>
                 <tr style="font-size:6px" >
                   <th  width="45%" align="left">SEDUC</th>
                    <th  width="5%" align="center">S.M.</th>
                    <th  width="5%" align="center">CTPS</th>
                    <th  width="5%" align="center">Ñ.CTPS</th>
                    <th  width="5%" align="center">AUTO</th>
                    <th  width="5%" align="center">Ñ.TRA</th>
                    <th  width="5%" align="center"><font color="blue">Total</th>
                    <th  width="5%" align="center">TRAN</th>
                 </tr>

                 <tr style="font-size:6px" >
                   <th align="left"> Berçario I</th>
                                  <th  width="5%" align="center"><%=  session[:TTGb1sv]  %></th>
                                  <th  width="5%" align="center"><%= session[:TTGb1ctps]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGb1sctps]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGb1auto]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGb1ntrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><%= session[:TTGb1total] %>
                                  <th  width="5%" align="center"><%= session[:TTGb1trans]%></th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Berçario II</th>
                                  <td  width="5%" align="center"><%=  session[:TTGb2sv]  %></td>
                                  <td  width="5%" align="center"><%= session[:TTGb2ctps]%></td>
                                  <td  width="5%" align="center"><%= session[:TTGb2sctps]%></td>
                                  <td  width="5%" align="center"><%= session[:TTGb2auto]%></td>
                                  <td  width="5%" align="center"><%= session[:TTGb2ntrab] %></td>
                                  <th width="10%" align="center"><font color="blue"><%= session[:TTGb2total] %>
                                  <td  width="5%" align="center"><%= session[:TTGb2trans]%></td>                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Pré Escola </th>
                                  <td  width="5%" align="center"><%= session[:TTGpresv]%></td>
                                  <td  width="5%" align="center"><%= session[:TTGprectps]%></td>
                                  <td  width="5%" align="center"><%= session[:TTGpresctps] %></td>
                                  <td  width="5%" align="center"><%= session[:TTGpreauto] %></td>
                                  <td  width="5%" align="center"><%= session[:TTGprentrab]%></td>
                                  <th width="10%" align="center"><font color="blue" ><%= session[:TTGpretotal]%></th>
                                  <td  width="5%" align="center"><%= session[:TTGpretrans]%></td>
                 </tr>




                 <tr style="font-size:6px"  bgcolor="#C6CCCC">
                   <th align="right">Sub-Total</th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:TTGsb1sv]%></font></th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:TTGsb1ctps]%></font></th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:TTGsb1sctps]%> </font></th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:TTGsb1auto] %></font></th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:TTGsb1ntrab] %></font> </th>
                   <th width="2%"><font color="red"> <%= session[:TTGsb1total]%> </font></th>
                   <th width="2%" align="center"> <%= session[:TTGsb1trans]%> </font></th>

                 </tr>
                 <tr>
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp </th>
                   <thwidth="2%">                   </th>
                 </tr>
            </table>
          </td>
           <th valign="top" width ="29%">
            <table>
                 <tr style="font-size:6px" >
                    <th  width="30%"  align="left">SEDUC </th>
                    <th  width="5%" align="center">S.M.</th>
                    <th  width="5%" align="center">CTPS</th>
                    <th  width="5%" align="center">Ñ.CTPS</th>
                    <th  width="5%" align="center">AUTO</th>
                    <th  width="5%" align="center">Ñ.TRA</th>
                     <th  width="5%" align="center"><font color="blue">Total</th>
                    <th  width="5%" align="center">TRAN</th>

                 </tr>
                 <tr style="font-size:6px" >
                   <th width="20%" align="left"> Maternal I-A</th>
                                  <th  width="5%" align="center"><%= session[:TTGm1asv]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1actps]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1asctps] %></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1aauto] %> </th>
                                  <th  width="5%" align="center"><%= session[:TTGm1antrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><%= session[:TTGm1atotal]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1atrans]%></th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left">Maternal I-B</th>
                                  <th  width="5%" align="center"><%= session[:TTGm1bsv]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1bctps]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1bsctps] %></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1bauto] %> </th>
                                  <th  width="5%" align="center"><%= session[:TTGm1bntrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><%= session[:TTGm1btotal]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm1btrans]%></th>

                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Maternal II</th>
                                  <th  width="5%" align="center"><%= session[:TTGm2sv]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm2ctps]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm2sctps] %></th>
                                  <th  width="5%" align="center"><%= session[:TTGm2auto] %> </th>
                                  <th  width="5%" align="center"><%= session[:TTGm2ntrab] %></th>
                                  <th width="10%" align="center"><font color="blue"><%= session[:TTGm2total]%></th>
                                  <th  width="5%" align="center"><%= session[:TTGm2trans]%></th>
                 </tr>
                 <tr style="font-size:6px"  bgcolor="#C6CCCC">
                   <th align="right">Sub-Total</th>
                    <th width="2%" align="center"><font color="blue"> <%= session[:TTGsb2sv]%></font></th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:TTGsb2ctps]%></font></th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:TTGsb2sctps]%> </font></th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:TTGsb2auto] %></font></th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:TTGsb2ntrab] %></font> </th>
                   <th width="2%"><font color="red"> <%= session[:TTGsb2total]%> </font></th>
                   <th width="2%" align="center"> <%= session[:TTGsb2trans]%> </font></th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp </th>
                   <th width="10%"> </th>

                 </tr>


            </table>
          </th>
        </tr>
      </table>
   </fieldset>
<fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend>
     <table frame="box" rules="all" width = "100%" align="center">
       <tr style="font-size:6px" >
          <th><b>Classe</b><font></th>
          <th><b>Total </b> <font> </th>
          <th width="1%"></th>
          <th><b>Classe</b><font></th>
          <th><b>Total </b><font>  </th>
           <th width="1%"></th>
           <th><b>Classe</b><font></th>
          <th><b>Total </b> <font> </th>
          <th width="1%"></th>
       </tr>
      <tr style="font-size:6px" >
          <th>- BERÇARIO I</th>
          <th><%= session[:tgb1] = (Crianca.find(:all,:conditions=> ['status ="NA_DEMANDA" and  recadastrada!=0 AND grupo_id=1 and transferencia != 1' ])).count %>  </th>
          <th width="1%"></th>
          <th>- MATERNAL I - A </th>
          <th> <%= session[:tgm1a]= (Crianca.find(:all,:conditions=> ['status ="NA_DEMANDA" and  recadastrada!=0 AND grupo_id=4 and transferencia != 1' ])).count %>  </th>
          <th width="1%"></th>
          <th>- MATERNAL II </th>
          <th> <%= session[:tgm2]= (Crianca.find(:all,:conditions=> ['status ="NA_DEMANDA" and  recadastrada!=0 AND grupo_id=5  and transferencia != 1' ])).count %>  </th>
       </tr>
      <tr style="font-size:6px" >
           <th>- BERÇARIO II </th>
          <th><%= session[:tgb2]= (Crianca.find(:all,:conditions=> ['status ="NA_DEMANDA" and  recadastrada!=0 AND grupo_id=2  and transferencia != 1' ])).count %>  </th>
          <th width="1%" ></th>
          <th>- MATERNAL I - B </th>
          <th><%= session[:tgm1b]= (Crianca.find(:all,:conditions=> ['status ="NA_DEMANDA" and  recadastrada!=0 AND grupo_id=8  and transferencia != 1' ])).count %>  </th>
          <th > </th>
          <th> Pré Escola (1ª e 2ª Etapa) </th>
          <th><%# session[:tgN1N2]= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada!=0  AND (grupo_id !=1 AND grupo_id !=2 AND grupo_id !=4 AND grupo_id !=5 AND grupo_id !=8) AND regiao_id > 99"]).size%> <%#= session[:tgN1N2]%>
              <%= session[:tgpre] %> </th>
        </tr>
      </table>
</fieldset>

<fieldset>
  <table frame="box" rules="all" width = "100%" align="center">
      <tr style="font-size:6px" >
        <th> </th>
        <th colspan="11"align="right"><b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp</b><br/><font size="2"></th>
        <th align="center" width="6%"><font color ="blue "><b><%=totalregiao %>                    </b></font></th>    <!-- <MENOS 1 PARA ACERTAR A CONTA HA ERRO EM ALGUNS LUGAR-->
      </tr>
      </table>
 </fieldset>

<br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
p/  Unidade Escolar
         
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Assinatura do Responsável<br/>

</font>
&nbsp&nbsp

